<div class="row">  
  <div class="col-md-4">
    <h1>Posts</h1>
    {{#each p in model}} <!--iterate through our handlebars template and display each title for every blog post-->
    </br>{{#link-to 'posts.edit' p.id}} {{p.title}}{{/link-to}}
    {{/each}}
  </div>
  {{outlet}} <<!--The {{outlet}} will display the embedded route, either the posts.edit or posts.new after it is clicked.-->
</div>  

